<mat-card>
    <mat-radio-group
        (change)="bodyTypeChange($event)"
        [(ngModel)]="body_type"
        name="body_type"
        aria-label="Select a body type"
    >
        <mat-radio-button *ngFor="let body of body_types" [value]="body">{{
            body
        }}</mat-radio-button>
    </mat-radio-group>
</mat-card>

<mat-card>
    <input
        type="text"
        [ngModel]="filterValue"
        (ngModelChange)="filtersheets($event)"
    />

    <button (click)="clearCharacter()">Clear Character</button>
</mat-card>

<div *ngFor="let sheet of filteredSheets.slice(0, 8)">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ sheet.name }}
            </mat-panel-title>
            <mat-panel-description>
                Type: {{ sheet.type_name }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card *ngFor="let variant of sheet.variants" [ngClass]="variant">
            <mat-card-content>
                {{ variant }}
            </mat-card-content>
            <button
                mat-raised-button
                color="primary"
                (click)="addSheetDefinition(sheet, variant)"
            >
                Add to Character
            </button>
        </mat-card>
    </mat-expansion-panel>
</div>
